﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AUTO VENTAS KARS</h1>
    <p class="lead">Bienvenido a la administracion del sistema del concecionario Auto Ventas Kars.</p>
</div>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
            <div class="caption">
                <h2>Vehiculos</h2>
                <p>
                    Administracon de Vehiculo
                </p>
                <p>@Html.ActionLink("Vehiculos", "Index", "Vehiculo", new { @class = "btn btn-primary" })</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
            <div class="caption">
                <h2>Marcas</h2>
                <p>
                    Administracon de Marcas.
                </p>
                <p>@Html.ActionLink("Marcas", "Index", "Marca", new { @class = "btn btn-primary" })</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
            <div class="caption">
                <h2>Tipos de Vehiculos</h2>
                <p>
                    Administracon de los tipos de vehiculos.
                </p>
                <p>@Html.ActionLink("Tipos de Vehiculos", "Index", "TipoVehiculo", new { @class = "btn btn-primary" })</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
            <div class="caption">
                <h2>Tipos de Combustible</h2>
                <p>
                    Administracon de los tipos de combustible.
                </p>
                <p>@Html.ActionLink("Tipos de Combustibles", "Index", "TipoCombustible", new { @class = "btn btn-primary" })</p>
            </div>
        </div>
    </div>
</div>